.App {
  text-align: center;
}

.idLabel {
  text-align: left;
  margin-left: 10px;
}

.jumbotron {
  text-align: left;
  max-width: 600px;
  margin: auto;
  padding: 10px;
}

.App-logo {
  height: 5vmin;
}
